.menu-toggle {
	display: block;
	font-size: 30px;
	color: $white;
	background-color: $spruce;
	height: $sizeToggleBtn;
	width: $sizeToggleBtn;;
	cursor: pointer;
	box-shadow: 0 0 5px 0px $spruce;
	border-radius: 2px;
} 